@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");

* {
  font-family: "Poppins", "sans-serif";
}
#myLinks{
  margin-top: 20px;
}
@media(min-width:800px){
  .mobile-container{
    display: none;
  }
}
.mobile-container{
  margin-left: 0px;
  margin-right: 0px;
}
.flex-wrap{
  flex-wrap:nowrap !important;
}
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  padding-bottom: 23px;
  background-color: #333;
  position: relative;
  padding-left: 15px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
}
@media(max-width:799px){
  .hero-banner{
    padding: 30px !important;
    
  }
  .products{
    padding: 30px !important;
  }
  .hero-banner .hero-main p{
    font-size: 16px !important;
  }
  .hero-banner .hero-img {
    padding-top: 30PX;
    max-width: 400PX !important;
    max-height: 400PX !important;
    width: 100%;
    height: 100%;
}
.hero-banner .hero-main h4{
  font-size: 30px !important;
}


.products .products-main-txt-p p{
  font-size: 16px !important;

}
.slider .slider-item .slider-main-txt h4{
  font-size: 30px !important;

}
.products h4{
  text-align: center;
  font-size: 30px !important;

}
}

@media(min-width:800px){
  form.accordion-blendi {
    height: 800px;
    width: 100%;
  }
  article p {
    color: white;
    font-family: helvetica;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    width: 100%;
    padding: 5px 10px;
  }
  div > input:checked ~ article {
    width: 70%;
    opacity: 1;
    height: 800px;
  }
  label {
    font-family: helvetica;
    cursor: pointer;
    display: block;
    border: solid 1px transparent;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    float: left;
    width: 80px;
    height: 800px;
    line-height: 200px;
  }
  div > input:checked ~ article{
    width: 70%;
  }
  
}


input:checked + label, label:hover {
  background: #4D90FE;
  background: #3EB9CB;
  border: solid 1px rgba(0,0,0,.15);
 
  color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.65), 0 1px 0 rgba(255,255,255,.1) inset;
  text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}


article {
  width: 0;
  height: 145px;
  overflow: hidden;
  -webkit-transition: width .25s linear, opacity .2s linear;
  transition: width .25s linear, opacity .3s linear;
  position: relative;
  background: #3EB9CB;
  top: 5px;
  color: white;
  margin-bottom: 0;
  margin-right: 10px;
  opacity: 0;
  margin-left: 10px;
  float: left;
}


.form-control{
  display: none;
}

form { 
  top: 100px; 
  left: 100px; 
  background: -webkit-linear-gradient(bottom,#eaeaea, #fafafa);
  padding: 10px;
  display: inline-block;
  box-shadow: 0 1px 1px rgba(0,0,0,.65);
  border-radius: 3px;
  border: solid 1px #ddd;
  width: 460px; 
  height: 200px;
  overflow: hidden;
}
input { display: none; }
input:checked + label, label:hover { 
  background: #4D90FE;
  background: -webkit-linear-gradient(top,#4D90FE,#4787ED);
  border: solid 1px rgba(0,0,0,.15);
  color: white; 
  box-shadow: 0 1px 1px rgba(0,0,0,.65), 0 1px 0 rgba(255,255,255,.1) inset;
  text-shadow: 0 -1px 0 rgba(0,0,0,.6);
}
label { 
  font-family: helvetica;
  cursor: pointer; 
  display: block; 
  border: solid 1px transparent;
  text-align: center; 
  line-height: 40px; 
  border-radius: 3px; 
  float: left;
  
  line-height: 200px;
}
label:last-child { margin-right: 0; }
label {     
  background: rgba(77, 144, 254, .5); 
  border: solid 1px rgba(0,0,0,.15); 
}

article { 

  width: 0;
  height: 145px;  
  overflow: hidden; 
  -webkit-transition: width .25s linear, opacity .2s linear; 
  transition: width .25s linear, opacity .3s linear; 
  position: relative; 
  top: 5px;
  margin-bottom: 0;
  padding: 0;
  margin-right: 10px;
  opacity: 0;
  float: left;
}
input:checked + label, label:hover{
  background: #3EB9CB;
}
label{
  background:#E4FCFF;
}
div > input:checked ~ article { opacity: 1; }
header {
  margin: 0 40px;
}
article.accordion
{
  display: block;
  width: 43em;
  margin: 0 auto;
  background-color: #666;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
article.accordion section
{
  position: relative;
  display: block;
  float: left;
  width: 2em;
  height: 12em;
  margin: 0.5em 0 0.5em 0.5em;
  color: #333;
  background-color: #333;
  overflow: hidden;
  border-radius: 3px;
}
article.accordion section h2
{
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  width: 12em;
  height: 2em;
  top: 12em;
  left: 0;
  text-indent: 1em;
  padding: 0;
  margin: 0;
  color: #ddd;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
article.accordion section h2 a
{
  display: block;
  width: 100%;
  line-height: 2em;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}
article.accordion section:target
{
  width: 30em;
  padding: 0 1em;
  color: #333;
  background-color: #fff;
}
article.accordion section:target h2
{
  position: static;
  font-size: 1.3em;
  text-indent: 0;
  color: #333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
article.accordion section,
article.accordion section h2
{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
header ul li a {
  font-size: 16px;
  color: #3eb9cb !important;
  margin-right: 20px;
}

header form {
  border: 1px solid #00a5c0;
  border-radius: 30px;
  max-height: 40px;
}

.hero-banner {
  padding: 120px 205px;
  background-color: #e4fcff;
}

.hero-banner .hero-img {
  max-width: 677px;
  max-height: 633px;
  width: 100%;
  height: 100%;
}

.hero-banner .hero-opener {
  padding: 10px;
  background-color: white;
  max-width: 210px;
}

.hero-banner .hero-opener p {
  color: #888888;
  font-size: 14px;
  margin: 0;
}

.hero-banner .hero-main h4 {
  font-size: 48px;
  color: #3eb9cb;
}

.hero-banner .hero-main p {
  color: #888888;
  margin-top: 40px;
  font-size: 20px;
  word-wrap: break-word;
}
.hero-banner .hero-btn {
  max-width: 270px;
  max-height: 64px;
  background-color: #3eb9cb;
  font-size: 32px;
  padding: 8px 30px;
  font-weight: 700;
  color: white;
  border-radius: 32px;
  border: none;
  margin-top: 80px;
}

.products {
  padding: 100px 250px 150px 250px;
}

.products h4 {
  color: #3eb9cb;
  font-size: 48px;
}

.products .products-main-txt-p p {
  color: #888888;
  text-align: center;
  font-size: 20px;
}

.products .products-main-img {
  margin-top: 70px;
}

.products .products-main-img img {
  width: 100%;
  max-width: 550px;
}

.slider {
  background-color: #e4fcff;
  padding: 100px 0;
}

.slider .slider-item .slider-main-txt h4 {
  font-size: 48px;
  color: #3eb9cb;
}

.slider .slider-item .slider-main-txt p {
  font-size: 20px;
  color: #888888;
  margin-top: 40px;
}

.slider .slider-item .slider-img {
  position: relative;
}

.slider .slider-item .slider-img img {
  height: 138px;
  position: relative;
  width: 138px;
  margin-top: 80px;
}

.slider .slider-item .slider-img h6 {
  font-size: 26px;
  margin-top: 20px;
  font-weight: 700;
  color: #3eb9cb;
}

.slider .slider-item .slider-p p {
  font-size: 20px;
  color: #888888;
  margin-top: 40px;
  text-align: center;
  max-width: 484px;
}

.owl-dots button.owl-dot span {
  background-color: #b7eaf1 !important;
}
.owl-dots button.owl-dot.active span {
  background-color: #3eb9cb !important;
}

.owl-prev span,
.owl-next span {
  color: #3eb9cb;
  font-size: 30px;
}

.owl-prev span:hover .owl-prev {
  background-color: transparent !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent !important;
  color: #3eb9cb;
  text-decoration: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  height: 100%;
}

.owl-prev {
  left: 7px;
}

.owl-next {
  right: 7px;
}

footer .footer-logo img {
  margin-bottom: 50px !important;
}

footer .footer-logo p {
  margin: 0;
  font-size: 16px;
  color: #888888;
  margin-top: 20px;
}

footer .footer-logo h6 {
  font-size: 16px;
  color: #3eb9cb;
  font-weight: 700;
}

footer h5 {
  margin-top: 30px;
  font-size: 20px;
  color: #3eb9cb;
  font-weight: 800;
}

footer ul {
  margin-top: 70px;
}
